*.mdf
*.ldf
App_Data/ConferenceScheduler.Models.DAL.ConferenceContext.mdf
App_Data/ConferenceScheduler.Models.DAL.ConferenceContext_log.ldf
App_Data/ConferenceScheduler.Models.DAL.ConferenceContext.mdf
App_Data/ConferenceScheduler.Models.DAL.ConferenceContext_log.ldf