@model IEnumerable<ConferenceScheduler.Models.Session>

@{
    ViewBag.Title = "Enroll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Enroll</h2>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Location</th>
        <th>Time</th>
        <th>Occupancy</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => modelItem.Title)</td>
        </tr>
    }
</table>
