@model ConferenceScheduler.Models.User
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UC Conference Scheduler</h2>

<div>
    <p>
        <a href="/Session">Enroll in Sessions</a>
    </p>
</div>

<div>
    <p>
        @if (TempData["success"] != null) { TempData["success"].ToString(); }
    </p>

    <table>
        <caption>My Enrolled Sessions:</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ConferenceScheduler.Models.Session e in Model.Sessions)
                {
                    <tr>
                        <td>@e.Title</td>
                        <td>@e.Location</td>
                        <td>@e.Time</td>
                    </tr>
                }

        </tbody>
    </table>
</div>
