@model ConferenceScheduler.Models.User
           
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UC Conference Scheduler</h2>

<div>
    <p>
        <a href="/home/enroll">Enroll in Sessions</a>
    </p>
    <p>
        @*<a href="/home/profile">Update My Profile</a>*@
    </p>
</div>

<div>
    <table>
        <caption>My Enrolled Sessions:</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ConferenceScheduler.Models.Enrollment e in Model.Enrollments)
            {
                <tr>
                    <td>@e.Session.Title</td>
                    <td>@e.Session.Location</td>
                    <td>@e.Session.Time</td>
                </tr>
            }
        </tbody>
    </table>
</div>
